---
import type { HeroData } from '@core/content/types'
const { data } = Astro.props as { data: HeroData }
---

<div class="ui-section hidden" id="previewNames">
  <h3 class="ui-text-title ui-text-title-3 mb-4">Preview names</h3>

  <div class="grid md:grid-cols-2">
    <img src={data.image_kenzie} alt="kenzie name generated preview" />
    <img src={data.image_kenzie_cut} alt="kenzie name generated vector" class="w-md" />

    <img src={data.image_koryn} alt="koryn name generated preview" />
    <img src={data.image_koryn_cut} alt="koryn name generated vector" class="w-md" />

    <img src={data.image_sofia} alt="sofia name generated preview" />
    <img src={data.image_sofia_cut} alt="sofia name generated vector" class="w-md" />
  </div>

  <a href="images/vectors-kenzie-koryn-sofia.zip" class="ui-button pa-s">Download vector pack for only $4.5 USD</a>
</div>
